

#slideshow {
    position:relative;
    height:215px;
	background-color:#FFF;
	
	
	
}

#slideshow DIV {
	position:relative;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
	height: 215px;
	background-color: #FFF;
	border-bottom:2px solid #A5BE2E;


}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
	
}

#slideshow DIV IMG {
    height: 215px;
	width:903px;
    display: block;
    border: 0;
    margin-bottom: 10px;

}
